.row
  .col-md-8.col-md-offset-2
    = link_to new_movie_path, class: 'btn btn-default' do
      = fa_icon 'plus'
      動画を追加する

    %h1 動画一覧
    - @movies.each do |movie|
      .col-md-4
        .panel.panel-default
          .panel-heading
            = link_to movie.title, movie.url
          .panel-body
            %iframe{src: vimeo_player_url(movie.url), frameborder: 0}
