.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        = @movie.title
      .panel-body.text-center
        %iframe{src: vimeo_player_url(@movie.url), frameborder: 0, width: 600, height: 600}(webkitallowfullscreen mozallowfullscreen allowfullscreen)